In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('data/Strategic_Subject_List_-_Historical.csv', low_memory=False)
df

,SSL SCORE,PREDICTOR RAT AGE AT LATEST ARREST,PREDICTOR RAT VICTIM SHOOTING INCIDENTS,PREDICTOR RAT VICTIM BATTERY OR ASSAULT,PREDICTOR RAT ARRESTS VIOLENT OFFENSES,PREDICTOR RAT GANG AFFILIATION,PREDICTOR RAT NARCOTIC ARRESTS,PREDICTOR RAT TREND IN CRIMINAL ACTIVITY,PREDICTOR RAT UUW ARRESTS,SEX CODE CD,...,RAW_HEAT_SCORE,STATUS I,PRE RAW HEAT SCORE,TRAP FLAGS,SSL FLAGS,LATITUDE,LONGITUDE,CENSUS TRACT,COMMUNITY AREA,LOCATION
0,306,20-30,0,0,0,0,0,-0.3,0,M,...,0.09110,Y,"9,110",NaN,NaN,NaN,NaN,NaN,,NaN
1,352,20-30,0,1,0,0,0,0.0,0,M,...,0.09949,Y,"9,949",NaN,NaN,NaN,NaN,NaN,,NaN
2,349,20-30,0,0,2,0,2,0.0,0,M,...,0.09908,Y,"9,908",NaN,NaN,NaN,NaN,NaN,,NaN
3,344,20-30,0,0,3,0,0,-0.3,0,M,...,0.09810,Y,"9,810",NaN,NaN,NaN,NaN,NaN,,NaN
4,343,20-30,0,0,1,0,0,0.4,0,M,...,0.09794,Y,"9,794",NaN,NaN,NaN,NaN,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398679,183,50-60,0,0,0,0,0,0.3,0,F,...,0.06845,Y,"6,845",NaN,NaN,41.801657,-87.640476,1.703184e+10,NEW CITY,"(41.8016568337619, -87.6404755875365)"
398680,213,60-70,0,0,2,0,0,2.2,0,M,...,0.07396,Y,"7,396",NaN,NaN,41.980265,-87.903894,1.703198e+10,OHARE,"(41.9802652602173, -87.9038943460944)"
398681,277,30-40,0,0,0,0,0,-0.3,0,M,...,0.08569,Y,"8,569",NaN,NaN,41.801657,-87.640476,1.703184e+10,NEW CITY,"(41.8016568337619, -87.6404755875365)"
398682,220,40-50,0,0,0,0,0,-0.3,0,F,...,0.07535,Y,"7,535",NaN,NaN,41.785981,-87.750900,1.703198e+10,GARFIELD RIDGE,"(41.78598134777, -87.7508999783037)"
398683,276,30-40,0,0,1,0,0,0.1,0,M,...,0.08558,Y,"8,558",NaN,NaN,41.785981,-87.750900,1.703198e+10,GARFIELD RIDGE,"(41.78598134777, -87.7508999783037)"

In [5]:
df['RACE CODE CD'].unique()

array(['WWH', 'BLK', 'WHI', 'API', 'U', 'WBH', 'I'], dtype=object)